{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}
    <div class="row">
        <div class="col-md-12">

            <h1>Open Events in {{ city }}</h1>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>MeetUp Name</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Time</th>
                    <th>updated</th>
                    <th>Group Name</th>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name|raw }}</td>
                        <td>{% if event.description is defined %}{{ event.description|raw }}{% endif %}</td>
                        <td><a href="{{ event.eventUrl }}" target="_blank">{{ event.eventUrl }}</a></td>
                        <td>{{ event.time|date }}</td>
                        <td>{{ event.updated|date }}</td>
                        <td>{{ event.group.name }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{#+"utc_offset": 3600000#}
{#+"venue": #}{#429 ▶}#}
      {#+"headcount": 0#}
      {#+"distance": 1.6046323776245#}
      {#+"visibility": "public"#}
      {#+"waitlist_count": 0#}
      {#+"created": 1510948607000.0#}
      {#+"maybe_rsvp_count": 0#}
      {#+"description": """#}
        {#<p>¿Te¿Te interesa la sostenibilibad? No te pierdas este encuentro en Barcelona el próximo 23 de noviembre El CultHunting Day es un día lleno de inspiración y c ▶#}
        {#\n#}
        {#\n#}
        {#<img src="https://secure.meetupstatic.com/photos/event/6/7/8/9/600_466226505.jpeg" /></p>#}
        {#"""#}
      {#+"how_to_find_us": "En el mismo lugar"#}
      {#+"event_url": "https://www.meetup.com/Meetup-de-moda-sostenible-en-Barcelona/events/245193118/"#}
      {#+"yes_rsvp_count": 6#}
      {#+"duration": 36000000#}
      {#+"name": "Culhunting Day. Arte y sostenibilidad"#}
      {#+"id": "245193118"#}
      {#+"time": 1511424000000.0#}
      {#+"updated": 1510948607000.0#}
      {#+"group": #}{#439 ▶}#}
      {#+"status": "upcoming"#}