{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">

                <h1><span>Welcome to</span> MeetUp API Explotation</h1>


                <table class="table">
                    <tr>
                        <th>City</th>
                        <th>ZIP</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>

                    {% for location in currentLocation %}
                        <tr>
                            <td><a href="{{ path('events', {'eventId': location.zip, 'lat': location.lat, 'lon':location.lon, 'city':location.city}) }}">{{ location.city }}</a></td>
                            <td>{{ location.zip }}</td>
                            <td>{{ location.lat }}</td>
                            <td>{{ location.lon }}</td>
                        </tr>
                    {% endfor %}

                </table>

            </div>

        </div>
    </div>
{% endblock %}
